In [1]:
scores = [88, 73, 89, 59, 77]
scores[4] << 60

88774955854727217152

In [2]:
scores[4] < 60

False

In [3]:
print(scores[0] >= 60 and scores[1] >= 60 and scores[2] >= 60 and scores[3] >= 60 and scores[4] >= 60)

False

# 리스트 메소드

In [4]:
numbers = [1,2,3,4,5,6,7]
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

In [5]:
numbers.insert(0,0)

In [6]:
numbers.insert(4,0)
numbers.insert(6,0)
numbers.insert(len(numbers),0)

In [7]:
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0]

### 리스트1.extend(리스트2)

In [8]:
numbers.extend([9,10,11])
print(numbers)

[0, 1, 2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

### remove(요소)는 인덱스 위치의 요소를 제거한다.

In [65]:
print(numbers)
numbers.remove(0)
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0]

In [10]:
del numbers[0]
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10, 11]

### pop은 리스트 제일 마지막 요소를 리스트에서 반환 후 제거

In [11]:
print(numbers.pop())

11

In [12]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]

###  index(요소) 리스트 안에 인자와 같은 요소를 앞에서 부터 찾는다. 제일 처음 발견된요소의 인덱스를 반환

In [13]:
print(numbers.index(4))

3

### count(인자) 리스트 안에 인자와 같은 요소가 몇개가 있는지 반환한다.

In [14]:
print(numbers)

[2, 3, 0, 4, 0, 5, 6, 7, 8, 0, 9, 10]

In [15]:
print(numbers.count(0))

3

### 리스트 정렬하기
- sort()는 오름차순
- reverse()는 내림차순  
반환값은 둘 다 None

In [16]:
print(numbers.sort())

None

In [17]:
print(numbers)

[0, 0, 0, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
numbers.reverse()

In [19]:
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 0, 0, 0]

### 리스트를 Stack처럼 활용하기

In [22]:
stack = [3,4,5]

In [23]:
stack.append(6)
stack.append(7)
print(stack)

[3, 4, 5, 6, 7]

In [24]:
print(stack.pop())
print(stack)
print(stack.pop())

7
[3, 4, 5, 6]
6

In [25]:
print(stack.pop())
print(stack)

5
[3, 4]

### 튜플은 수정이 어렵다

In [28]:
t_v2 = "음", "아", "오", "예"
print(type(t_v2))
print(t_v2)

<class 'tuple'>
('음', '아', '오', '예')

In [29]:
import time

curr = time.time()
total = []

for i in range(1000):
    for j in range(1000):
        total.append([i,j])       
        last = time.time()
print(last * curr)

2.798551118264905e+18

1. 처음 20번째까지의 소수 -> 튜플. 변동되지 않는 수이기 때문
2. 프로그래밍 언어의 종류 -> 변동되지 않을것이라고 생각하기에 튜플..?
3. 사람의 나이, 몸무게, 키 -> 유동적이기 때문에 리스트
4. 사람의 생일과 출생지 -> 변동되지 않가에 튜플
5. 롤 게임의 결과 -> 변동되지 않기에 튜플
6. 잇단 롤 게임의 결과 -> 리스트

## 변수 여럿에 동시 할당(Unpacking)

In [30]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [31]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다"]
print(s3,s4,s5)

이렇게 리스트도 가능합니다

In [32]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

문 자 열 도

## 파이썬 입력 사용해보기

In [33]:
input_value = input("Message")

Message 1111

In [34]:
print("input_value:", input_value, "\ntype:", type(input_value))

input_value: 1111
type: <class 'str'>

In [35]:
input_value = int(input_value)
print("inpput_value:", input_value, "\ntype:", type(input_value))

inpput_value: 1111
type: <class 'int'>

In [36]:
input_value2 = input("정수 외에 다른 값을 입력해보세요.")

정수 외에 다른 값을 입력해보세요. 1.1

In [37]:
input_value2 = float(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [38]:
print(input_value2)

1.1

In [39]:
input_value2 = int(input_value2)
print(input_value2)

ValueError: invalid literal for int() with base 10: '1.1'

In [40]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4)

정수를 입력해주세요: 1

1

In [45]:
input_name = input("이름을 입력하시오:")
print(input_name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_a = int(input("첫 번째 정수를 입력하세요:"))
input_b = int(input("두 번째 정수를 입력하세요:"))
print(input_a, "과", input_b, "의 합은", input_a + input_b, "입니다")

이름을 입력하시오: 엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요: 300
두 번째 정수를 입력하세요: 400

300 과 400 의 합은 700 입니다

In [63]:
input_place= input("경기장은 어디입니까")
input_win = input("이긴 팀은 어디입니까?")
input_loses = input("진 팀은 어디입니까")
input_best = input("우수 선수는 누구입니까")
input_score = input("스코어는 몇대몇입니까?")

print("[속보]", input_win, "가" , input_score, "로 승리...")
print("오늘", input_place, "경기장에서 야구 경기가 있었습니다.")
print(input_win, "와" ,input_loses, "는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", input_best, "가 맹활약을 했습니다.")
print("그 끝내", input_win, "가" , input_loses, "를", input_score, "로 승리하였습니다.")
print("기사 끝")

경기장은 어디입니까 고척
이긴 팀은 어디입니까? KT
진 팀은 어디입니까 LG
우수 선수는 누구입니까 강백호
스코어는 몇대몇입니까? 10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT 와 LG 는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝

## Split() 함수 이용

In [66]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [90]:
time = input('hh:mm:ss의 형태로 시간을 입력해주세요:')
print(time)
# = 'time'.split(':')
result_a = time.split(':')
print("실행결과:", "\n시:", result_a[0], "\n분:", result_a[1], "\n초:", result_a[2])

hh:mm:ss의 형태로 시간을 입력해주세요: 12:33:23

12:33:23
실행결과:
시: 12
분: 33
초: 23

## map() 내장 함수 이용하기
map(function, iterable)

In [101]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(float, a))
print(a)

[1.2, 2.5, 3.7, 4.6]

In [100]:
result = input("국어,영어,수학,과학 점수를 입력해주세요:").split(',')
print(result)
kor = int(result[0])
eng = int(result[1])
mat = int(result[2])
sci = int(result[3])
print("평균점수는 ", (kor+eng+mat+sci)/4)

국어,영어,수학,과학 점수를 입력해주세요: 98,100,96,100

['98', '100', '96', '100']
평균점수는  98.5

Answer. map함수까지 이용하기.

In [102]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학, 점수를 입력해주세요").split(","))
avg = (kor + eng + mat + sci) / 4
print("평균 점수는", avg, "점입니다.")

국어, 영어, 수학, 과학, 점수를 입력해주세요 98,100,96,100

평균 점수는 98.5 점입니다.

## 'sep = 구분기호' 이용하여 값과 값을 구분하는 단위 변경하기

In [104]:
print("줄이 바뀌지 않습니다.", end="")
print("그 이유는 end=\"\\n\"과 같이 기본 설정된 값으 빈 스트링으로 변경했기 때문입니다.")
print("sep", "end는 맨뒤에 써야하며, 둘 간 순서는 상관없습니다.", sep=", ", end="")
print("어떻게 사용하는지", "이해가 되시나요", sep="\n", end="?")

줄이 바뀌지 않습니다.그 이유는 end="\n"과 같이 기본 설정된 값으 빈 스트링으로 변경했기 때문입니다.
sep, end는 맨뒤에 써야하며, 둘 간 순서는 상관없습니다.어떻게 사용하는지
이해가 되시나요?

In [109]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day,sep="/", end=" ")
print(hour, minute, second, sep=":")

2021/02/03 18:33:23

In [112]:
apple, man = map(int, input("사과와 귤을 몇개 드릴까요?").split(","))
res = apple * 1000 + man * 200
print("총 가격은 ", res,"원입니다." ,sep="")

사과와 귤을 몇개 드릴까요? 10,20

총 가격은 14000원입니다.

# IF문

In [113]:
type(input_value4) is int

True

In [114]:
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

## and -> 모두 true 일때 true 반환, 하나라도 false면 false
## or -> 하나라도 true 라면 true 반환, 모두 false 일때 false 반환
## not -> true를 false로 false를 true로

In [117]:
age = 39

if 20 <= age <= 30:
    print("20대 입니다.")
elif 30 <= age <= 40:
    print("30대 입니다.")

print("감사합니다.")

30대 입니다.
감사합니다.

In [130]:
id = input("아이디를 입력하세요")
if id == "admin" :
    print("최고 관리자, 모든 권한을 갖습니다.")
else :
    level = int(input("회원등급을 입력해주세요"))
    if 1 <= level <= 3 :
        print("제한적인 권한을 갖습니다.")
    else :
        print("권한이 없습니다")

아이디를 입력하세요 biana
회원등급을 입력해주세요 4

권한이 없습니다