##    연습문제

In [16]:

Scores = list(map(int, input("실기점수를 입력하세요 : ").split(" ")))
print(Scores)
tot =0
i = 0
for i in range(len(Scores)):
    tot = tot + Scores[i]
    i+=1
high = 0
low = Scores[0]
n = 0
for n in range(len(Scores)):
    if high < Scores[n]:
        high = Scores[n]
    if low > Scores[n]:
        low = Scores[n]
print(high, low)
n_tot = tot - high - low
final_avg = n_tot / (len(Scores)-2)
print(f'이 학생의 평균 점수는 {final_avg}입니다.')

실기점수를 입력하세요 :  80 80 85 88 98

[80, 80, 85, 88, 98]
98 80
이 학생의 평균 점수는 84.33333333333333입니다.

In [25]:

# Scores = list(map(int, input("실기점수를 입력하세요 : ").split(" ")))
# print(Scores)
# tot =0
# i = 0
# for i in range(len(Scores)):
#     tot = tot + Scores[i]
#     i+=1
# N_Scores = Scores
# print(len(Scores))
# print(N_Scores)
# n = 0
# for n in range(len(Scores)):
#     j = 0
#     for j in range(len(Scores)):
#         if Scores[n] > Scores[j]:
#             N_Scores[n] = int(Scores[n])
#         j += 1
#     n += 1
# print(N_Scores)

# print(f'이 학생의 평균 점수는 {final_avg}입니다.')

In [29]:
score_list = list(map(int, input("점수를 입력하세요: ").split(" ")))
print(score_list)
grade_counter = [0, 0, 0, 0, 0]

i = 0
while i < len(score_list):
    if score_list[i] >= 85 and score_list[i] <= 100:
        grade_counter[0] += 1
    elif score_list[i] < 85 and score_list[i] >= 70:
        grade_counter[1] += 1
    elif score_list[i] <70 and score_list[i] >= 55:
        grade_counter[2] += 1
    elif score_list[i] <55 and score_list[i] >= 40:
        grade_counter[3] += 1
    else:
        grade_counter[4] += 1
    i += 1
print(grade_counter)

점수를 입력하세요:  86 72 98 60 45

[86, 72, 98, 60, 45]
[2, 1, 1, 1, 0]

## FizzBuzz 문제

In [36]:
n = 1
for n in range(101):
    if n == 0:
        continue
    elif n%3 ==0 and n%5 == 0:
        n = "FizzBuzz"
    elif n%3 == 0:
        n = "Fizz"
    elif n%5 == 0:
        n = "Buzz"
    
    print(n, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

## `더 간략하게 하는 방법`

In [9]:
for i in range(1, 101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i %5 == 0) or i, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [14]:
name_list = list(map(str, input("이름: ").split(',')))
print(name_list)
i = 0
count = 0
for i in range(len(name_list)):
    if 'm' and 'h' in name_list[i]:
        count += 1
    elif 'm' in name_list[i]:
        count += 1
    elif 'h' in name_list[i]:
        count += 1
print(f'm 또는 h가 이름에 포함된 사람은 {count}명 입니다')

이름:  matthew,mark,luke,john,paul,peter

['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
m 또는 h가 이름에 포함된 사람은 3명 입니다

In [17]:
name_list = list(map(str, input("이름: ").split(',')))
print(name_list)

count = 0
i = 0
while i < len(name_list):
    if 'm' and 'h' in name_list[i] :
        count += 1
    elif 'm' in name_list[i]:
        count += 1
    elif 'h' in name_list[i]:
        count += 1
    i += 1
print(f'm 또는 h가 이름에 포함된 사람은 {count}명 입니다')

이름:  matthew,mark,luke,john,paul,peter

['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
m 또는 h가 이름에 포함된 사람은 3명 입니다

In [19]:
name_list = list(map(str, input("이름: ").split(',')))
print(name_list)
i = 0
count = 0
for i in range(len(name_list)):
    if 'm' in name_list[i] or 'h' in name_list[i]:
        count += 1
print(f'm 또는 h가 이름에 포함된 사람은 {count}명 입니다')

이름:  matthew,mark,luke,john,paul,peter

['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
m 또는 h가 이름에 포함된 사람은 3명 입니다

In [21]:
marks = list(map(int, input("점수: ").split(' ')))
print(marks)
i = 0

for i in range(len(marks)):
    if marks[i]>60:
        print(f'{i+1}번 학생 축하합니다. 합격입니다')
    i += 1

점수:  90 25 67 45 80

[90, 25, 67, 45, 80]
1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [3]:
marks = list(map(int, input("점수: ").split(' ')))
print(marks)
i = 0
while True:
    if i>=len(marks):
        break
    if marks[i] <= 60:
        i += 1
        continue
    elif marks[i] > 60:    
        print(f'{i+1}번 학생 축하합니다. 합격입니다')
    i += 1

점수:  90 25 67 45 80

[90, 25, 67, 45, 80]
1번 학생 축하합니다. 합격입니다
3번 학생 축하합니다. 합격입니다
5번 학생 축하합니다. 합격입니다

In [4]:
arr = [1,4,2,3]
left, right = 0, len(arr) -1
while left < right:
    arr[left], arr[right] = arr[right],arr[left]
    left += 1
    right -= 1
print("변환된 arr은", arr, "입니다")

변환된 arr은 [3, 2, 4, 1] 입니다

In [13]:
n, m = 0, 0

for n in range(1,10):
    for m in range(2,10):
        print(f'{m} X {n} = {m*n}',end="\t")
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [12]:
n= 1

while n < 10:
    m = 2
    while m < 10:
        print(f'{m} X {n} = {m*n}',end="\t")
        m += 1
    n+=1

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

## Dictionray type
딕셔너리 자료형은 비 시퀀스 자료형임. key와 value로 1대1로 매칭되는 구조.
key-value pair 라고 함

### example

In [14]:
dic_var = {"key": "value"}
print(type(dic_var))
print(dic_var)

<class 'dict'>
{'key': 'value'}

In [15]:
dic_var = {"key": "value", "key":" last value"}
print(dic_var)

{'key': ' last value'}

딕셔너리 자료형에서 key는 문자열, 정수, 실수, 불, 튜플을 사용할 수 있고, 이를 섞어서 사용도 가능하다.
단 키에는 리스트, 딕셔너리, 집합을 사용할 수 없다.
키는 고유한 값을 가져야한다.

In [17]:
dic_var = {"key" : "value",
           1 : "value2",
           1.1 : "value3",
           True : "value4",
           ("key", 1, 1,1, True) : "value2"}
print(list(map(type, dic_var.keys())))

[<class 'str'>, <class 'int'>, <class 'float'>, <class 'tuple'>]

In [18]:
print(dic_var)

{'key': 'value', 1: 'value4', 1.1: 'value3', ('key', 1, 1, 1, True): 'value2'}

In [3]:
dic_fruit = {"apple" : 1000,
             "banana" : 700,
             "orange" : 1500,
             "pineapple" : 2000}
print(dic_fruit.values())
fruit = str(input("과일 이름을 입력하세요. "))

print(f'{fruit}의 가격은 {dic_fruit[fruit]}원입니다.')

dict_values([1000, 700, 1500, 2000])

과일 이름을 입력하세요.  banana

banana의 가격은 700원입니다.

## `map은 시퀀스형이 아님`

In [16]:
name = list(map(str, input("이름을 기입해주세요. ").split(' ')))
weight = list(map(float, input("몸무게를 기입해주세요. ").split(' ')))
# print(type(name), len(name))
# print(type(weight), len(weight))
dict_a = {}
for n in range(0,len(name)):
    dict_a[name[n]] = weight[n]

print(dict_a)

이름을 기입해주세요.  뽀로로 루피 크롱 스누피
몸무게를 기입해주세요.  20.4 16.2 22.3 5.2

{'뽀로로': 20.4, '루피': 16.2, '크롱': 22.3, '스누피': 5.2}

key에 리스트를 받을수 없음!!

해답

In [17]:
name = input("이름을 기입해주세요. ").split(' ')
weight = list(map(float, input("몸무게를 기입해주세요. ").split(' ')))

dict_info = dict(zip(name, weight))
print(dict_info)

이름을 기입해주세요.  nana poo iek
몸무게를 기입해주세요.  10.5 2.3 34.6

{'nana': 10.5, 'poo': 2.3, 'iek': 34.6}

In [18]:
dict_b = dict(zip([],[]))
print(dict_b)

{}

특정키가 없으면 key error가 나타나고, value값이 key값과 동일하지않으면 index에러가 나타남

## list의 응용

In [19]:
list_a = [48, 48, 33, 95]
print(type(list_a))
print(list_a)

<class 'list'>
[48, 48, 33, 95]

In [20]:
empty_list = []
print(empty_list)
print(type(empty_list))

[]
<class 'list'>

.split은 여러개를 쪼개서 list로 반환해줌

In [22]:
list_sample = "a b c d".split()
print(list_sample)

['a', 'b', 'c', 'd']

## 리스트 컴프리헨션
-> 한줄표기가 가능해짐

-> list_variable = [expression for 변수 in iterable]

기능
1. 반복
2. 변수활용

동작순서
1. 반복가능한 객체(iterable)로부터 값을 하나 꺼내와서 변수에 담는다.
2. 요소를 담은 변수를 활용해서 표현식(expression)을 실행
3. 표현식 결과 값을 리스트 요소에 넣음
4. 반복가능한 객체로부터 값이 없을 때까지 1~3과정을 반복

example

In [24]:
#range --> 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
# _ --> 0, ... , 9
list_a = [_ ** 2 for _ in range(1,10)]
print(list_a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
list_b = [print("Hello world") for _ in range(10)]

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [26]:
prac_result = [_ **2 for _ in range(1,10)]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]